<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.my.music">
    <!-- Android 12 এবং তার নিচের ভার্সনের জন্য স্টোরেজ পারমিশন -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="33" />

    <!-- Android 13 (API 33) এবং তার উপরের ভার্সনের জন্য অডিও পারমিশন -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- ব্যাকগ্রাউন্ডে সার্ভিস চালু রাখার জন্য এবং CPU সচল রাখার জন্য -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Android 14 (API 34) এর জন্য মিডিয়া প্লেব্যাক সার্ভিস টাইপ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Android 13+ এর জন্য নোটিফিকেশন পারমিশন -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="34">

        <!-- 1. MAIN ACTIVITY (LIST VIEW) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. PLAYER ACTIVITY (CONTROLS) -->
        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <!-- Parent Activity defined for Back Navigation -->
        </activity>

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>